body {
    font-family: 'Montserrat';
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat';
}

p {
    color: #8f8f8f;
}

.big-heading {
    font-size: 3.5rem;  
    line-height: 1.5;
    font-weight:800;
}

.medium-heading {
    font-weight:800;
    font-size:3rem;
    line-height: 1.5;
}

.small-heading {
    font-size: 1.5rem;  
    line-height: 1.5;
    font-weight:600;
}

.container-fluid {
    padding: 5% 5% 7%;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    width:350px;
    right: 25%;
}

.custom-icon {
    margin-bottom: 15px;
    color: #ef8172;
}

.custom-icon:hover {
    color:#ff4b68;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding:3%;
}

.pricing-column {
    padding:3% 2%;
}

#title {
    background-color: #ff4c68;
    color: white;
    text-align: left
} 

.navbar {
    padding-bottom: 2.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}

#features {
    padding: 2% 15%;
    background-color: white;
    position: relative;
}

.feature-box {
    padding: 7%;
}

#testimonials {
    padding: 7% 15%;
    background-color: #ef8172;
    color: white;
}

.testimonial-image {
    width:10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

#cta {
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.cta-h3 {
    font-family: "Montserrat";
    color: white;
    font-size: 2.5rem;
    padding: 5% 27% 0%;
}

.cta-button {
    margin: 3% 3% 3% 0%;
}

.social-icon {
    margin: 20px 10px;
}

#footer {
    padding:5% 0% 2%;
}

@media (max-width:1028px){
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform:rotate(0);
    }
}